.box {
  width: 37rem;
  min-height: 43rem;
  background: $color-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
  border-radius: 5px;
  color: $color-white;
  text-align: center;
  &__title {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__desc {
    font-size: 2.4rem;
  }
  &__icon {
    height: 25rem;
    justify-content: center;
    align-items: middle;
    display: flex;
    img {
      align-self: center;
    }
  }
}
