.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 26.4rem;
  height: 7.4rem;
  margin: 7.2rem auto;
  padding: 0 2rem;
  border-radius: 7px;
  border: 2px solid $color-main;
  color: $color-white;
  background-color: $color-main;
  text-decoration: none;
  transition: 0.25s ease-out;
  &:hover {
    background-color: transparent;
    color: $color-main;
  }
  @include phablet {
    margin-bottom: 4.5rem;
  }
}
