.container {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  padding: 0 5.4rem;
  @include phablet {
    padding: 0 2rem;
  }
  .select-lang & {
    padding: 0 3.8rem;
  }
}
