.footer {
  &__wrapper {
    @include wrapper;
    display: flex;
    align-items: center;
    text-align: center;
  }
  &__info {
    margin-top: 5rem;
    font-size: 2.7rem;
    font-weight: 500;
  }
}
