.footer {
  &__wrapper {
    @include wrapper;
    display: flex;
    text-align: center;
    margin: 5rem auto 2rem;
  }
  &__icon {
    width: 4.3rem;
  }
  &__info {
    margin: 0;
    font-size: 2.7rem;
    font-weight: 600;
    @include portrait {
      font-size: 2rem;
    }
  }
}
