.intro {
  @include wrapper;
  text-align: center;
  &__title {
    position: relative;
    transform: translatey(3rem);
    font-size: 8.5rem;
    margin: 2rem auto 0;
    line-height: 10rem;
    opacity: 0;
    will-change: transform;
    .select-lang & {
      margin-top: 6.5rem;
      margin-bottom: 4rem;
    }
    @include portrait {
      font-size: 6.5rem;
      line-height: 8rem;
    }
    @include phablet {
      font-size: 3.5rem;
      line-height: 5.5rem;
    }
  }
  &__subtitle {
    font-size: 4.5rem;
    margin: 0rem auto 1.8rem;
    line-height: 5.5rem;
    position: relative;
    transform: translatey(3rem);
    opacity: 0;
    will-change: transform;
    @include portrait {
      font-size: 3rem;
      line-height: 4rem;
    }
    @include phablet {
      font-size: 1.8rem;
      line-ehight: 2.8rem;
    }
  }
}
