.link {
  width: 37rem;
  min-height: 46.5rem;
  padding-top: 3.5rem;
  margin-right: 4rem;
  text-decoration: none;
  &:nth-child(3n + 3) {
    margin-right: 0;
  }
  @include portrait {
    width: calc(50% - 1rem);
    min-height: 30rem;
    margin-right: 2rem;
    padding-top: 2rem;
    &:nth-child(3n + 3) {
      margin-right: 2rem;
    }
    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }
  @include phablet {
    width: 100%;
    margin-right: 0;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
  .select-lang-en & {
    width: 27.5rem;
    min-height: 34rem;
    &:nth-child(3n + 3) {
      margin-right: 4rem;
    }
    &:nth-child(4n + 4) {
      margin-right: 0;
    }
    @include portrait {
      width: calc(50% - 1rem);
      &:nth-child(3n + 3) {
        margin-right: 2rem;
      }
      &:nth-child(2n + 2) {
        margin-right: 0;
      }
    }
    @include phablet {
      width: 100%;
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }
  }
}
