@mixin hvr-state {
  &::before {
    transform: scaleX(0);
  }
  .box {
    background-color: transparent;
    transition-delay: 0ms;
  }
  .box__title,
  .box__desc {
    color: $color-main;
  }
  .box__icon {
    color: $color-main;
    transform: rotateY(180deg);
  }
}
