* {
  box-sizing: border-box;
}
html {
  font-size: vw(10);
  @include portrait {
    font-size: 10px;
  }
}
body {
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  overflow-x: hidden;
  background-color: $color-light;
}
img {
  width: 100%;
}
.app {
  min-height: 100vh;
}
