body {
  background: #F7F8FC;
}

.App {
  text-align: center;
}

main {
  width: 1200px;
  margin: 0 auto;
}

.App-header {
  height: 100px;
  width: 100%;
  background: #30306F;
}

.App-box {
  width: 370px;
  height: 430px;
  background: #30306F;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
  border-radius: 5px;
  color: #fff;
}

.Icon-wrap {
  height: 250px;
  justify-content: center;
  align-items: middle;
  display: flex;
}

.Icon-wrap img {
  align-self: center;
}


footer {
  clear: both;
}
